* {
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-family: Inter, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    width: 100vw;
    height: 100vh;
}

#gui {
    position: absolute;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    user-select: none;
}